@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.mobile-menu {
  display: none;
  @include md {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;  // Ensure the menu covers the full screen height
    position: fixed;  // Make it fixed to cover the entire viewport
    top: 0;  // Ensure it starts at the top of the screen
    left: 0;  // Ensure it starts at the left side of the screen
    background-color: $main-bg;
    z-index: 1000;
    padding: 20px;
    overflow: hidden;  // Prevent scrolling
  }

  .close-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: $soft-color;
    margin-bottom: 20px;
  }

  .menu-items {
    display: flex;
    flex-direction: column;
    justify-content: center;  // Center the menu items vertically
    overflow-y: auto;  // Allow scrolling if there are too many items
  }

  .item {
    .title {
      font-size: 12px;
      font-weight: 200;
      color: $soft-color;
      text-transform: uppercase;
    }

    .list-item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
      
      img {
        width: 20px;
        height: 20px;
      }

      &:hover {
        background-color: $soft-bg;
      }

      &.active {
        background-color: $soft-bg;
      }
    }
  }
}
