@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menu {
  display: flex;
  .item {
    .title {
      font-size: 12px;
      font-weight: 200;
      color: $soft-color;
      text-transform: uppercase;
    }

    .list-item {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-right: 5px;
      padding: 7px;
      border-radius: 5px;
      
      img {
        width: 20px;
        height: 20px;
      }

      &:hover {
        background-color: $soft-bg;
      }
      &.active {
        background-color: $soft-bg;
      }
    }
  }
}
