@import "./variables.scss";
@import "./responsive.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  font-family: "Fira Sans Condensed", sans-serif;
  color: $main-color;
  overflow: hidden;
}

.container {
  display: flex;
  // .hamburger-menu {
  //   // display: none;
  //   display: flex;
  //     justify-content: center;
  //   @include md {
  //     display: flex;
  //     justify-content: center;
  //   }
  // }
}

// .menu-container {
//   // width: 220px;
//   padding: 5px 20px;
//   border-right: 2px solid $soft-bg;
  
//   @include md {
//     width: max-content;
//   }
//   @include sm {
// //take the fullscreen

    
//   }
//   &.close {
//     transform: translateX(0);
//     display: none;
//   }
// }

.content-container {
  padding: 5px 20px;
  width: 100%;
  margin-top: 80px;
}
