// BG
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
$highlight-bg: #333333;

//TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;
$success-color: #00b894;
$warning-color: #f39c12;
$error-color: #d63031;
$highlight-color: #FFD700;


