.add-expense {
  // Check if the class name matches
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: hidden;

  .modal-expense {
    padding: 40px;
    margin-top: 30px;
    border-radius: 15px;
    background: #2c2c2c;
    background: linear-gradient(145deg, #2a2a2a, #3a3a3a);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    max-width: 600px;
    width: 100%;
    height: 90vh;
    text-align: center;
    overflow: hidden;

    // Ensure display and flex direction are correctly set
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin-bottom: 30px;
      font-size: 28px;
      color: #f0f0f0;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 40px;
      color: #f0f0f0;
      cursor: pointer;
      transition: color 0.3s ease, transform 0.3s ease;

      &:hover {
        color: #8a1407;
        transform: scale(1.2);
      }
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px; // Ensure the gap is applied correctly

      .item {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
          font-size: 16px;
          color: #b0b0b0;
        }

        input,
        select {
          padding: 12px;
          background: #444;
          color: #f0f0f0;
          outline: none;
          border: 1px solid #666;
          border-radius: 5px;
          transition: border-color 0.3s ease, box-shadow 0.3s ease;
          &:focus {
            border-color: #3498db;
            box-shadow: 0 0 10px rgba(52, 152, 219, 0.7);
          }
        }

        select {
          appearance: none;
          background: url('data:image/svg+xml;utf8,<svg fill="%23f0f0f0" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
          background-size: 12px;
        }
        .image-preview {
          margin-top: 5px;
          img {
            max-width: 100%;
            max-height: 100px;
            border-radius: 15px;
            border: 2px solid #444;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            &:hover {
              transform: scale(1.05);
              box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
            }
          }
        }
      }

      .item-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;

        .item {
          flex: 1 1 45%;
        }
      }

      .error-message {
        color: #e74c3c;
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 10px;
        text-align: center;
        background: #2c2c2c;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #e74c3c;
      }

      .switch-container {
        display: flex;
        justify-content: space-between;
      }

      button {
        width: 60%;
        margin-top: 20px;
        padding: 15px;
        font-size: 16px;
        color: white;
        background: #3498db;
        border: none;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;

        &:hover {
          background: #2980b9;
          transform: scale(1.05);
          box-shadow: 0 5px 15px rgba(41, 128, 185, 0.5);
        }

        &:active {
          background: #1f6391;
          transform: scale(1);
          box-shadow: 0 5px 10px rgba(31, 99, 145, 0.5);
        }
      }
    }
  }

  @media (max-width: 600px) {
    .modal-expense {
      padding: 20px;
      h1 {
        font-size: 24px;
      }

      form {
        gap: 15px;

        .item-container {
          .item {
            width: 100%;
          }
        }

        .switch-container {
          .item {
            width: 100%;
          }
        }

        button {
          font-size: 14px;
          padding: 12px;
        }
      }
    }
  }

  @media (max-width: 415px) {
    .modal-expense {
      height: 90vh;
      h1 {
        font-size: 20px;
      }

      form {
        gap: 10px;
        .item-container {
          .item {
            width: 100%;
          }
        }
        button {
          font-size: 12px;
          padding: 10px;
        }
      }
    }
  }
  @media (max-height: 680px) {
    .modal-expense {
      height: 100%;
    }
  }
}
